:root {
  --nav-footer-color: #1e1e1e;
  --nav-height: 49px;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fcfcfc;
}

.hide {
  display: none;
}

.show {
  display: block;
}

nav {
  background-color: var(--nav-footer-color);
  display: grid;
  grid-template-rows: var(--nav-height) auto;
  margin: 0 0 45px 0;
}

nav img {
  justify-self: end;
  align-self: center;
  margin-right: 20px;
  cursor: pointer;
}

nav ul {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 0;
  border-top: solid 1px #d3d3d333;
  display: grid;
  grid-template-rows: repeat(3,40px);
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 40px;
}

.container {
  padding: 0 20px;
}

section, footer {
  text-align: center;
}

section img {
  width: 340px;
}

section p {
  text-align: left;
  color: #7f7f7f;
}

.separator {
  border-top: solid 1px rgba(0, 0, 0, 0.20);
  margin: 40px 0;
}

#five p {
  text-align: center;
  font-size: 15px;
  line-height: 21px;
}

#five span {
  display: block;
  font-size: 13px;
}

#five span:nth-child(1) {
  color: #03685e;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  margin-top: 40px;
}

#five img {
  display: inline-block;
  width: 15px;
  padding: 5px;
  cursor: pointer;
}

#five img:nth-child(1) {
  justify-self: end;
}

input, textarea {
  width: 97%;
  background-color: #fff;
  margin: 10px auto;
  border: solid 1px rgba(0, 0, 0, 0.20);
  padding: 5px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5)
}

textarea {
  resize: none;
  height: 100px;
}

#contact-us button {
  width: 97%;
  background-color: #c1151b;
  /*background-color: #006645;*/
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

footer {
  background-color: var(--nav-footer-color);
  padding-top: 1px;
}

footer h2 {
  color: #fff;
}

footer .separator {
  width: 300px;
  border-top: solid 1px #fff9;
  margin: 0 auto 20px auto;
}

footer img {
  width: 41px;
  height: 41px;
  margin: 0 30px 30px 30px;
  cursor: pointer;
}

.review {
  display: none;
}

.on {
  display: block;
}

@media screen and (max-width: 767px) {

  nav li:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }

}

@media screen and (min-width: 768px) {

  nav {
    grid-template-columns: auto repeat(2, 345.5px) auto;
  }

  .container {
    width: 50%;
    margin: 0 auto;
  }

  nav div {
    grid-column: 2/4;
  }

  #collapse-button {
    display: none;
  }

  .hide {
    display: block;
  }

  nav ul {
    grid-template-columns: repeat(3, 1fr);
    border-top: none;

  }

  nav li {
    height: var(--nav-height);
  }

  nav li:nth-child(1) {
    justify-self: start;
  }

  nav li:nth-child(3) {
    justify-self: end;
  }

  nav a {
    line-height: var(--nav-height);
    font-weight: bold;
    padding: 17px  10px 16px 10px;
  }

  nav a:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }

  section img {
    width: 500px;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 56px;
  }

  #contact-us {
    max-width: 387px;
    margin: 0 auto;
  }
}
