{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<section id="one">
  <h1>Title goes here</h1>
  <img src="{{ url_for('static', filename='image/placeholder.png') }}" alt="image">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
</section>

<div class="separator"></div>

<section id="two">
  <h2>Service one</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
</section>

<div class="separator"></div>

<section id="three">
  <h2>Service two</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
</section>

<div class="separator"></div>

<section id="about">
  <h2>About</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
</section>

<div class="separator"></div>

<section id="five">

    <h2>Reviews</h2>

  {% for review in reviews %}

    <div class="review">
      <p>{{ review[1] }}</p>
      <p><span class="review-name">{{ review[0] }}</span><span>{{ review[2] }}</span></p>
    </div>

  {% endfor %}

  <div id="buttons-container">
    <img id="prev-b" src="{{ url_for('static', filename='image/left.svg') }}">
    <img id="next-b" src="{{ url_for('static', filename='image/right.svg') }}">
  </div>
</section>

<div class="separator"></div>

<section id="contact-us">
  <h2>Contact us</h2>

  <form>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="text" placeholder="First name" autocomplete="false" name="first_name">
    <input type="text" placeholder="Last name" autocomplete="false" name="last_name">
    <input type="text" placeholder="Email" autocomplete="false" name="email">
    <textarea placeholder="Message" name="message" rows="5" maxlength="250"></textarea>

    <button>SUBMIT</button>
  </form>
</section>



{% endblock %}
